*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}



.jetbrains-mono-mood {
  font-family: "JetBrains Mono", monospace;
  font-optical-sizing: auto;
  font-weight: 200;
  font-style: normal;
}

.archivo-black-regular {
  font-family: "Archivo Black", sans-serif;
  font-weight: 400;
  font-style: normal;
}


.inter-mood {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
}

header {
  background-color: #e6e6e6;
  /* padding: 0 15px; */
}

.first-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-bottom: 1px solid black;
  position: sticky;
  background-color: #e6e6e6;
  top: 0;
  z-index: 20;
}

.first-container div{
   font-size: 10px;
   margin: 10px 12px;
}

.second-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  margin: 60px auto;
  padding-left: 12px;
}

.inner-container {
  border-top: 1px solid #a8a7a7;
  padding: 5px 5px 10px 0;
  width: 20%;
}

.inner-container h3{
  color: #a8a7a7;
  font-size: 10px;
  padding: 5px 0;
}  

.inner-container p{
  font-size: 12px;
}

#black-box {
  height: 100%;
  background-color: black;
  margin-right: 12px;
}
/* will add black grids in the black box after finishing the landing page */

.third-container {
  border-top: 1px solid black;
  padding-top: 10px;
  margin: 30px 20px;
}

.third-container p{
  font-size: 250px;
  line-height: 0.75; 
  margin-bottom: 0;
  padding-bottom: 0;
  display: block;
  letter-spacing: -0.07em;
  /* transform: translateX(3.6px); */
}
/* HEADER ENDS */
/* MAIN BEGINS */
main {
  margin: 10px 12px;
}

#first-section {
  margin-top: 100px;
  padding: 5px 0;
  display: flex;
  flex-direction: row;
}

#pulse {
  width: 10px;
  height: 10px;
  background-color: black;
  border-radius: 50%;
  /* PULSE ANIMATION */
	animation: pulse 1.5s infinite;
}
@keyframes pulse {
  0% {
      transform: scale(1);
      opacity: 1;
  }
  50%{
    transform: scale(1.5);
    opacity: 0.5;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}

#first-section h3{
  padding-left: 7px;
  font-size: 10px;
  font-weight: 400;
}

.table-title{
  margin: 10px 0;
}

.table-title p{
  font-size: 50px;
  font-weight: 700;
}

.table {
  /* border: 1px solid black; */
  margin: 25px auto;
}

.t-header{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-bottom: 1px solid black;
  padding: 5px 0;
}

.t-header p{
  color: #a8a7a7;
  font-size: 10px;
}

.sub-header{
  display: flex;
  flex-direction: row;
  gap: 2em;
}

#special-spacing{
  gap: 20em;
}

.t-body {
  margin: 0 0 10px 0;
}

.t-row {
  display: flex;
  flex-direction: row;
  gap: 2em;
  width: 100%;
  padding: 10px 0;
  justify-content: space-between;
  border-bottom: 1px solid black;
}

.t-row:hover{
  background-color: #f1f1f1;
  transition: 1s;
}

#text-spacing {
  display: flex;
  flex-direction: row;
}

.color-block {
  width: 20px;
  height: 20px;
  /* border: 1px solid black; */
  padding: 0 2px 0 0;
}

#purple{
  background-color: rgb(66, 4, 92);
}

#orange {
  background-color: rgb(205, 133, 1);
}

#blue {
  background-color: rgb(5, 5, 148);
}

#pink {
  background-color: rgb(220, 125, 141);
}
#red {
  background-color: rgb(171, 3, 3);
}

#duration-txt {
  font-size: 15px;
}

#tags {
  margin-left: 95px;
}

#tags a{
  text-decoration: none;
  color: #a8a7a7;
  font-size: 10px;
  cursor: pointer;
}

#tags a:hover{
  color: black;
  text-decoration: underline;
  transition: 1s;
}
/* testing hover effect */
/* #tags a::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: currentColor; 
  transform: scaleX(0);
  transform-origin: center;
  transition: transform 0.3s ease-in-out;
} */

/* Expand outward on hover */
/* #tags a:hover::after {
  transform: scaleX(1);
} */
/* hover effect ends */

.btn-link{
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}

.login-btn{
  margin: 30px auto;
  background-color: black;
  width: 18%;
  height: 30px;
  color: #e6e6e6;
  text-align: center;
  padding: 5px 5px;
  cursor: pointer;
  box-shadow: 0 4px 10px rgba(34, 34, 34, 0.25);
  transition: transform 0.4s ease, box-shadow 0.4s ease;
}

.login-btn:hover{
  background-color: transparent;
  border: 1px solid black;
  color: black;
  transform: translateY(-2px);
  box-shadow: 0 6px 14px rgba(0, 0, 0, 0.3);
}
/* LOG IN MODAL STYLING */
/* Modal backdrop layout */
/* .modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(4px);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
} */

/* Hides the modal by default */
/* .modal-hidden {
  display: none !important;
}

.modal-card {
  background: #fff;
  padding: 30px;
  border-radius: 10px;
  width: 100%;
  max-width: 400px;
  position: relative;
}

.close-btn {
  position: absolute;
  top: 15px;
  right: 15px;
  background: none;
  border: none;
  font-size: 20px;
  cursor: pointer;
} */
/* FOOTER AREA */

footer{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-top: 1px solid black;
  padding: 20px 12px;
}

.link-tab{
  display: flex;
  flex-direction: column;
}

.link-tab h3{
  color: #a8a7a7;
  font-size: 10px;
  padding: 5px 0;
}

.link-tab a{
  color: black;
  text-decoration: none;
  font-size: 12px;
  padding: 3px 0;
}

.link-tab a:hover{
  color: #a8a7a7;
  transition: ease-in-out;
  cursor: pointer;
}

.link-tab p{
  font-size: 12px;
  padding: 5px 0;
}